<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>All employees</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-color">

    <div class="container shadow depts d-flex heading">
        <div class="row">
            <h1> all employee details </h1>
            <% if(typeof emp !='undefined' ){ %>
                <% emp.forEach(i=>{ %>

                    <div class="card col-md-3 m-5">
                        <img class="card-img-top " src="image/<%- i.emp_image %>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span>Employee Name : </span>
                                <%- i.emp_name%>
                            </h5>
                            <p class="card-text">
                                <span>Employee Email : </span>
                                <%- i.emp_email%>
                            </p>
                            <!-- <a href="" class="btn btn-primary   w-100"> Add Department</a> -->

                        </div>
                    </div>
                    <%}); %>
                        <% } %>
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>


</body>

</html>