<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-color">

    <div class="container p-0 d-flex justify-content-center align-items-center">
        <div class="col-md-5 my-sm-5 p-5 form-bg shadow-lg">
            <form action="/auth/login" method="POST">
                <% if(typeof messages !='undefined' ){ %>
                    <div>
                        <% messages.forEach(i=>{ %>
                            <div class="alert alert-warning alert-dismissible fade show mb-2 form-control" id="myalert"
                                role="alert">
                                <strong>
                                    <%- i.msg %>
                                </strong>

                                <button type="button" class="btn-close" id="mybtn" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            <%}); %>
                    </div>
                    <% } %>
                        <div>
                            <h1 class="text-center text-white">Login Form</h1>
                        </div>
                        <div class="form-group p-3 text-white">
                            <label>Enter Your Username <span class="star">*</span></label>
                            <input type="text" name="username" class="form-control mt-2" aria-describedby="emailHelp"
                                placeholder="Enter Username" required>
                        </div>
                        <div class="form-group p-3 text-white">
                            <label>Enter Your Password <span class="star">*</span></label>
                            <input type="password" class="form-control mt-2" name="password" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter Password">
                        </div>
                        <div class="form-group p-3">
                            <input type="submit" class="form-control p-2 bg-primary text-white"
                                id="exampleInputPassword1" value="Submit">
                        </div>
                        <div class="form-group text-center">
                            <a href="/auth/register" class="text-white">register as admin</a>
                        </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>